body, html{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    display: table;
}
#top{
    width: 100%;
    height: calc(100% - 200px);
    display: block;
}
#bottom{
    display: block;
    width: 100%;
    height: 200px;
}
#controls{
    width: 120px;
    max-width: 120px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    vertical-align: top;
    box-shadow: inset 1px 1px 6px rgba(0,0,0,.2);
    float: left;
}
.imageButton {
    background: none;
    display: block;
    border: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    text-align: center;
    width: 100%;
    height: 80px;
    padding-top: 35px;
    position: relative;
}
.imageButton > div{
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
}

.imageButton > div > svg{
    height: 40px;
    width: 40px;
}


@keyframes blink-animation {
    to {
        opacity: 0;
    }
}

@-webkit-keyframes blink-animation {
    to {
        opacity: 1;
    }
}

#dot {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: block;
}

#dot.recording {
    background-color: red;
    animation: blink-animation 1s infinite;
    -webkit-animation: blink-animation 1s infinite;
}

button {
    vertical-align: middle;
}

#timer_holder{
    position: relative;
    height: 100%;
    display: none;
}

#timer {
    position: absolute;
    padding: 3px 10px;
    right: 40px;top: 50%;
    transform: translateY(-50%);
}

.iframe{
    width: calc(100% - 120px);
    height: 100%;
    border: none;
    display: block;
    float: right;
}

#logs_frame, #notifications_frame{
    height: 100%;
    display: inline-block;
}

#logs_frame > h4, #notifications_frame > h4{
    margin: 5px 12px;
}

#logs_frame{
    width: calc(100% - 152px);
    float: right;
}

#notifications_frame{
    width: 150px;
    float: left;
}

.container{
    box-shadow: inset 1px 1px 6px rgba(0,0,0,.2);
    border-radius: 5px;
    height: calc(100% - 29px);
    box-sizing: border-box;
}